{%  extends 'Series/base.html'%}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md1 col-xs-1 col-sm-1"></div>
		<div class="col-md-10 col-xs-10 col-sm-10">
			<h3 class="round3" style="text-align: center;">Series</h3>
		</div>
		<div class="col-md-1 col-xs-1 col-sm-1"></div>
	</div>
	<div class="row">
		<div class="col-md-10 col-xs-10 col-sm-10"></div>
		<div class="col-md-2 col-xs-1 col-sm-1">
			<br/>
				<a href="{% url 'serie' %}">
					<button type="button" class="btn btn_success">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</a>
		</div>		
	</div>
	<br/>
	{% for serie in serie_list %}
		<div class="row">
			<div class="col-md-1 col-xs-1 col-sm-1"></div>
			<div class="col-md-7 col-xs-1" >
				<ul class="list-group">
					<li class="list-group-item" style="padding: 3% 3%">
						<a href="{% url 'detail' serie.pk %}"><span class="badge">
							{{ serie.title }}
						</span></a>
					</li>
				</ul>
				<br>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1" style="margin-left: 1%; margin-top: 1%;">
				<a href="{% url 'detail' serie.pk %}">
					<button type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-open"></span>
					</button>
				</a>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1" style="margin-top: 1%;">
				<a href="{% url 'edit' serie.pk %}">
					<button type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</a>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1" style="margin-top: 1%">
				<a href="{% url 'delete' serie.pk %}">
					<button type="button" class="btn btn-info">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</a>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1"></div>


		</div>
	{% endfor %}

</div>
{% endblock %}